@using projet.Model;
@{
    ViewData["Title"] = "Home Page";
}



@{
    ViewBag.Title = "Ma page";
}

<style>
    body {
 
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

    header ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        background-color: rgba(34,39,45,0.65);
    }

    header li {
        margin: 0 10px;
    }

    header a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        header a:hover {
            background-color: #ddd;
            color: white;
        }

    article {
        background-color: white;
        opacity: 0.9;
    }

        article h1 {
            text-align: center;
        }
</style>

<body>
    <header>
        <ul>
            <li><a asp-controller="Home" asp-action="RedirectToEvent">Events</a></li>
            <li><a asp-controller="Home" asp-action="RedirectToUser">Users</a></li>
            <li><a asp-controller="Home" asp-action="RedirectToVille">Ville</a></li>
            <li><a asp-controller="Home" asp-action="RedirectToActivite">Activite</a></li>
     
        </ul>
    </header>
    <article>
        <h1>Welcome !</h1>

    </article>





</body>
<!--<video height="300" controls>
  <source src="C:/Users/wiemb/Desktop/movies intro disney, 20th, marvel, warner bros,netflix,universal.mp4" type="video/mp4">
</video>-->
