@model projet.Model.Event

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ville" class="control-label"></label>
                <input asp-for="Ville" class="form-control" />
                <span asp-validation-for="Ville" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateDebut" class="control-label"></label>
                <input asp-for="dateDebut" class="form-control" />
                <span asp-validation-for="dateDebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateFin" class="control-label"></label>
                <input asp-for="dateFin" class="form-control" />
                <span asp-validation-for="dateFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombreMax" class="control-label"></label>
                <input asp-for="nombreMax" class="form-control" />
                <span asp-validation-for="nombreMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descriptionEvent" class="control-label"></label>
                <input asp-for="descriptionEvent" class="form-control" />
                <span asp-validation-for="descriptionEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nomEvent" class="control-label"></label>
                <input asp-for="nomEvent" class="form-control" />
                <span asp-validation-for="nomEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prix" class="control-label"></label>
                <input asp-for="prix" class="form-control" />
                <span asp-validation-for="prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

